<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="{% url 'petstagram:landing_page' %}">Home</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'petstagram:pet_list' %}">All pet photos</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'petstagram:pet_create' %}">Create Pet</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'accounts:user_profile' user.id %}">{{ user.username | upper}}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'accounts:signout_user' %}">Sign out</a>
            </li>          
         {% else %}
          <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:login' %}">Sing in</a> 
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:sign_up' %}">Sign Up</a>
          </li>
          {% endif %}
       </ul>
    </div>
 </nav>