{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        {% block "extra-js" %}{% endblock %}
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>
