{% extends 'base.html' %}

{% block content %}
<form method="POST"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <input type="submit" value="Submit"> 
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
</form> 
<div>
<!-- {% for field in form %}
<div class="fieldWrapper">
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
</div>
{% endfor %} -->

{% for field in form %}
    {% if field.errors %}
    <li>
        {{ field.label_tag }}
        {% for error in field.errors %}
            {{ error  }}
        {% endfor %}
    </li>
    {% endif %}
{% endfor %}

{% include 'field.html' with field=form.first_name %}

<li>{{ form.captcha.errors|escape }}</li>
<li>{{ form.captcha.is_hidden }}</li>

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="fieldWrapper">
        {{ field.label_tag }}
    </div>
{% endfor %}
</div>
<style>
    .messages{
        position: relative;
        top: 50px;
        height: 50px;
        padding-top: 20px;
        background-color: chartreuse;
        width: 15%;
        text-align: center;
        margin: auto;
        }

    li{
        
        color: brown;
        list-style-type: none; 
    }
</style>
{% endblock %}