{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block "extra-js" %}<link href="{% static 'sass_css/home.css' %}" rel="stylesheet" type="text/css" />{% endblock %}

{% block content %}
<h1>session {{view_count}}</h1>
<ol>
    <li>
        <a href="{% url 'files' %}">{% trans 'Files' %}</a>
    </li>
    <li>
        <a href="{% url 'map' %}">{% trans 'Map' %}</a>
    </li>
    <li>
        <a href="{% url 'wizard' %}">{% trans 'Form_Wizard' %}</a>
    </li>
    <li>
        <a href="{% url 'formset' %}">{% trans 'Formset' %}</a>
    </li>
    <li>
        <a href="{% url 'form_message' %}">{% trans 'Form_message' %}</a>
    </li>
    <li>
        <a href="{% url 'filter' %}">{% trans 'Filter' %}</a>
    </li>
    <li>
        <a href="{% url 'get_response' %}">{% trans 'Calculator' %}</a>
    </li>
    <li>
        <a href="{% url 'widget_form' %}">{% trans 'Widget form' %}</a>
    </li>
    <li>
        <a href="{% url 'Exchange_rate' %}">{% trans 'Exchange rate' %}</a>
    </li>
    <li>
        <a href="{% url 'validators' %}">{% trans 'Field Validation' %}</a>
    </li>
    <li>
        <a href="{% url 'url_with_arguments' %}">{% trans 'Render URL with arguments' %}</a>
    </li>
    <li>
        <a href="{% url 'reverse_views' %}">{% trans 'Reverse views' %}</a>
    </li>
    <li>
        <a href="{% url 'news:news_list_view' %}">{% trans 'CRUD Operations' %}CRUD Operations</a>
    </li>
    <li>
        <a href="{% url 'articles:article-list' %}">{% trans 'Based Views' %}</a>
    </li>
    <li>
        <a href="{% url 'petstagram:landing_page' %}">{% trans 'Petstagram' %}</a>
    </li>
    <li>
        <a href="{% url 'template_tags' %}">Template tags</a>
    </li>
</ol>
{% endblock %}
