{% extends 'base.html' %}
{% load static %}

{% block "extra-js" %}<link href="{% static 'sass_css/home.css' %}" rel="stylesheet" type="text/css" />{% endblock %}

{% block content %}
<ol>
    <li>
        <a href="{% url 'files' %}">Files</a>
    </li>
    <li>
        <a href="{% url 'map' %}">Map</a>
    </li>
    <li>
        <a href="{% url 'wizard' %}">Form_Wizard</a>
    </li>
    <li>
        <a href="{% url 'formset' %}">Formset</a>
    </li>
    <li>
        <a href="{% url 'form_message' %}">Form_message</a>
    </li>
    <li>
        <a href="{% url 'filter' %}">Filter</a>
    </li>
    <li>
        <a href="{% url 'get_response' %}">Calculator</a>
    </li>
    <li>
        <a href="{% url 'widget_form' %}">Widget form</a>
    </li>
    <li>
        <a href="{% url 'Exchange_rate' %}">Exchange rate</a>
    </li>
</ol>
{% endblock %}
