{% extends 'base.html' %}
{% load static %}
{% load i18n sekizai_tags %}

{% block "extra-js" %}<link href="{% static 'sass_css/home.css' %}" rel="stylesheet" type="text/css" />{% endblock %}

{% block content %}
<input type="text" id="time" style="border: 3px solid red; text-align: center">

<div id="result"></div>
{% if user.is_authenticated %}
    Hello, {{ user.username }}! <a href="{% url 'logout_user' %}">Logout</a>
{% else %}
    <a href="{% url 'login_user' %}">Login</a>
{% endif %}

<h1>session {{view_count}}</h1>
<ol>
    <li>
        <a href="{% url 'register_user' %}">{% trans 'Register User' %}</a>
    </li>
    <li>
        <a href="{% url 'files' %}">{% trans 'Files' %}</a>
    </li>
    <li>
        <a href="{% url 'map' %}">{% trans 'Map' %}</a>
    </li>
    <li>
        <a href="{% url 'wizard' %}">{% trans 'Form_Wizard' %}</a>
    </li>
    <li>
        <a href="{% url 'formset' %}">{% trans 'Formset' %}</a>
    </li>
    <li>
        <a href="{% url 'form_message' %}">{% trans 'Form_message' %}</a>
    </li>
    <li>
        <a href="{% url 'filter' %}">{% trans 'Filter' %}</a>
    </li>
    <li>
        <a href="{% url 'get_response' %}">{% trans 'Calculator' %}</a>
    </li>
    <li>
        <a href="{% url 'widget_form' %}">{% trans 'Widget form' %}</a>
    </li>
    <li>
        <a href="{% url 'Exchange_rate' %}">{% trans 'Exchange rate' %}</a>
    </li>
    <li>
        <a href="{% url 'validators' %}">{% trans 'Field Validation' %}</a>
    </li>
    <li>
        <a href="{% url 'url_with_arguments' %}">{% trans 'Render URL with arguments' %}</a>
    </li>
    <li>
        <a href="{% url 'animals_views_set' %}">{% trans 'Serializers polymorphic' %}</a>
    </li>
    <li>
        <a href="{% url 'news:news_list_view' %}">{% trans 'CRUD Operations' %}CRUD Operations</a>
    </li>
    <li>
        <a href="{% url 'articles:article-list' %}">{% trans 'Based Views' %}</a>
    </li>
    <li>
        <a href="{% url 'petstagram:landing_page' %}">{% trans 'Petstagram' %}</a>
    </li>
    <li>
        <a href="{% url 'template_tags' %}">Template tags</a>
    </li>
</ol>
{% endblock %}

{% block javascript %}
<script>
    window.onload = function() {
        countdown(30);
    }
    function countdown(sec){
        let minutes = Math.floor(sec / 60);
        let seconds = sec % 60;
        let time = (minutes < 10 ? '0' + minutes : minutes) + ':' +
                (seconds < 10 ? '0' + seconds : seconds)
        document.getElementById('time').value = time
        setInterval(() => {
            if (sec > 0) {
                sec--
                minutes = Math.floor(sec / 60);
                seconds = sec % 60;
                time = (minutes < 10 ? '0' + minutes : minutes) + ':' +
                        (seconds < 10 ? '0' + seconds : seconds)
                document.getElementById('time').value = time
            }
        }, 1000)
    }
</script>
{% endblock %}
