{% load  custom_filter_tags %}
<!-- first method! -->

<!-- <h1>First method!</h1>
<select name="country" id="country">
  <option value="empty">------</option>
  {% for country in countries %}
    <option value="{{ country.pk }}" class="{{ country.name }}">{{ country.name }}</option>
  {% endfor %}
</select>
<select name="city" id="city">
  <option value="empty">------</option>
  {% for city in cities %}
    <option value="{{ city.pk }}" class="all city {{ city.country.pk }}">{{ city.name }}</option>
  {% endfor %}
</select>
{% for pub in pubs %}
  <p style="color: red;" value="{{ pub.pk }}" class="all pub {{ pub.city.pk }} {{ pub.city.country.pk }}">{{ pub.name }}</p>
{% endfor %} -->


<!-- second method! -->

<!-- <h1>Second method!</h1>
<select name="country" id="country">
  <option value="empty">------</option>
  {% for country in countries %}
    <option value="{{ country.pk }}" class="{{ country.pk }}">{{ country.name }}</option>
  {% endfor %}
</select>
<select name="city" id="city">
  <option value="empty">------</option>
</select>
{% for pub in pubs %}
  <p style="color: red;" value="{{ pub.pk }}" class="all pub {{ pub.city.pk }} {{ pub.city.country.pk }}">{{ pub.name }}</p>
{% endfor %}
</div> -->

<!-- third method! -->

<h1>Third method!</h1>
<select name="country" id="country">
  <option value="empty">------</option>
  {% for country in countries %}
    <option value="{{ country.pk }}" class="{{ country.pk }}">{{ country.name | add_xx | custom_lower | safe}}</option>
  {% endfor %}
</select>
<select name="city" id="city">
  <option value="empty">------</option>
</select>
<div class="pub_container" style="color: red;">
  {% for pub in pubs %}
    <p value="{{ pub.pk }}" class="all pub {{ pub.city.pk }} {{ pub.city.country.pk }}">{{ pub.name }}</p>
  {% endfor %}
</div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

  // First method!

  // $('.pub').hide();

  // $("select[name=country]").on('click', function () {
  //   $country = $('select[name=country]').val()
  //   $('.all').hide();
  //   $('select[name=city]').val('empty');
  //   $('.'+$country +'.city').show();
  // })

  // $("select[name=city]").on('change', function () {
  //   $country = $('select[name=country]').val()
  //   $city = $('select[name=city]').val()
  //   $('.pub').hide();
  //   $('.'+$country +'.'+$city).show();
  // })


  // Second method

  // var data = {{ data|safe }};

  // $('.pub').hide();

  //   $("select[name=country]").on('change', function () {
  //   $country = $('select[name=country]').val()
  //   $("select[name=city]").empty()
  //   $("select[name=city]").append('<option value="empty">------</option>');
  //   data[$country].forEach(function (item) {
  //     return $("select[name=city]").append('<option value=' + item.id + '>' + item.city + '</option>');
  //   });
  // });

  // $("select[name=city]").on('change', function () {
  //   $country = $('select[name=country]').val()
  //   $city = $('select[name=city]').val()
  //   $('.pub').hide();
  //   $('.'+$country +'.'+$city).show();
  // })


    // third method

  $('.pub').hide();

  $("select[name=country]").on('change', function () {
    $country = $('select[name=country]').val()
    $("select[name=city]").empty()
    $("select[name=city]").append('<option value="empty">------</option>');
    $.ajax({
    url: '/get_city/',
    type: "GET",
    data: {
      'country_id': $country
    },
    success: function (response) {
      response.forEach(function (item) {
        $("select[name=city]").append('<option value=' + item.id + '>' + item.city + '</option>');
      });
    },
    dataType: 'json'
    });
  });

  $("select[name=city]").on('change', function () {
    $city = $('select[name=city]').val()
    $(".pub_container").empty()
    $.ajax({
    url: '/get_pub?pub_id='+ $city,
    type: "GET",
    success: function (response) {
      response.forEach(function (item) {
        $(".pub_container").append('<option value=' + item.id + '>' + item.pub + '</option>');
      });
    },
    dataType: 'json'
    });
  });

</script>
